node_modules/
config/config.json
codeAdmin/node_modules
codeAdmin/build
public/uploads/posts/
public/uploads/groups/
# public/uploads/categoryitem/
# public/uploads/product/



# To untrack local changes
# git update-index --assume-unchanged config/config.json

# To reverse it (if you ever want to commit changes to it), use:
# git update-index --no-assume-unchanged


# git update-index --no-assume-unchanged config/config.json



